@{
    ViewBag.Title = "Home";
}

<div class="row" ng-controller="leaveApplicationController" ng-init="init()" ng-cloak>
    <div class="col-md-3 column">
        <div class="box box-solid">            
            <div class="box-body no-padding">
                <div class="has-feedback">
                    <input type="text" placeholder="Search Applications" class="form-control margin-bottom" ng-model="searchApp" 
                           ng-keyup="advanceEmployeeSearch(searchApp)"/>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    <div class="clearfix"></div>
                </div>   
                <ul class="nav nav-pills nav-stacked" style="max-height:700px !important; overflow: auto;">
                    <li ng-repeat="app in appList | filter:searchApp" ng-class="{active:app.selected}">
                        <a href="" ng-click="appSelected(appList.indexOf(app))">
                            <ul class="nav">
                                <li>{{app.EmployeeName + ': '+ app.CardNo}}</li>
                                <li>{{app.LeaveTypeName}}:<span>{{app.TotalDays}} days</span></li>
                            </ul>
                        </a>
                    </li>            
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-9 column">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Leave Application</h3>
                <button class="btn btn-sm btn-flat btn-default" ng-click="resetForm()" style="float:right">
                    <i class="glyphicon glyphicon-plus text-green"></i> New
                </button>
            </div>
            <form class="form-horizontal" name="employeeSetupForm" novalidate ng-submit="saveClicked()">      
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3">Employee Name</label>
                        <div class="col-sm-3">
                            <div class="has-feedback">
                                <input type="text" ng-model="app.Employee"
                                       placeholder="Enter name or card no"
                                       uib-typeahead="emp as emp.EmployeeName + ' : ' + emp.CardNo for emp in getEmployeeByKeyword($viewValue)"
                                       typeahead-on-select="typeaheadOnSelect($item, $model, $label)"
                                       class="form-control">
                                <span class="glyphicon glyphicon-search form-control-feedback text-muted"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" ng-model="app.EmployeeName" readonly required/>
                        </div>
                    </div>

                    <div class="form-group">                      
                        <label class="col-sm-3">Leave Type</label>
                        <div class="col-sm-3">
                            <select ng-model="app.LeaveTypeID" class="form-control" 
                                    ng-options="lt.LeaveTypeID as lt.LeaveTypeName disable when lt.LeaveTypeName==='Earn Leave' for lt in LeaveTypeList"                                     
                                    required>
                                <option value="">Select leave type</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3">From Date</label>
                        <div class="col-sm-3">
                            <input id="FromDate" type="text" class="form-control default-datepicker" ng-model="app.FromDate" autocomplete="off"
                                   ng-change="validateToDate();"
                                   required
                                   ng-blur="bindDate('FromDate', 'app', validateToDate);" />
                        </div>

                        <label class="col-sm-3">To Date</label>
                        <div class="col-sm-3">
                            <input id="ToDate" type="text" class="form-control default-datepicker" ng-model="app.ToDate" autocomplete="off"
                                   ng-change="validateToDate()"
                                   required
                                   ng-blur="bindDate('ToDate', 'app', validateToDate)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3">Application Date</label>
                        <div class="col-sm-3">
                            <input id="ApplicationDate" type="text" class="form-control default-datepicker"  autocomplete="off"
                                   ng-model="app.ApplicationDate" 
                                   ng-blur="bindDate('ApplicationDate', 'app')"
                                   />
                        </div>

                        <label class="col-sm-3">Days</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="app.TotalDays" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3">Reason</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" placeholder="Write your reason..." ng-model="app.ReasonOfLeave"></textarea>
                        </div>
                        <label class="col-sm-3" ng-show="app.LeaveTypeID===13">Substitute Date</label>
                        <div class="col-sm-3" ng-show="app.LeaveTypeID===13">
                            <input id="SubstituteDate" type="text" class="form-control default-datepicker" autocomplete="off"
                                   ng-model="app.SubstituteDate"
                                   ng-blur="bindDate('SubstituteDate', 'app')" />
                        </div>
                    </div>
                </div>

                <div class="box-footer clearfix">
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning btn-flat btn-sm" ng-click="resetForm()"><i class="fa fa-close"></i> Reset</button>
                        <button type="submit" class="btn btn-success btn-flat btn-sm"><i class="fa fa-save"></i> Save</button>
                        <button type="button" class="btn btn-danger btn-flat btn-sm" ng-click="delete()"><i class="fa fa-close"></i> Delete</button>
                    </div>
                </div>
            </form>         
        </div>
    </div>
</div>