@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-controller="attendanceCtrl" ng-init="initial()" ng-cloak>
    <div class="col-md-9 column">
        <form class="form-horizontal" name="updateAttendanceForm">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="col-sm-12" style="padding-right: 0px !important">
                        <div class="pull-right">
                            <div class="mailbox-controls">
                                <div class="pull-right">
                                    <span ng-if="attendanceList.length">
                                       Showing 1-{{pageNo*10 + 10}}
                                    </span>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm"
                                                ng-click="getPrev(searchAt);">
                                            <i class="fa fa-chevron-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm"
                                                ng-click="getNext(searchAt);">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-default btn-flat btn-sm" ng-click="updateDailyAttendance()">
                                        <i class="fa fa-save bg-success"></i>
                                        Save
                                    </button>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.pull-right -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-sm-12 no-padding">
                        <div class="table-responsive" style="max-height: 600px !important; overflow: auto;">
                            <table class="table table-bordered table-condensed table-fixed-header no-wrap">
                                <thead>
                                    <tr class="nt-table-header">
                                        <th>Card No</th>
                                        <th>Employee Name</th>
                                        <th>In Time</th>
                                        <th>Out Time</th>
                                        <th>Status</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in attendanceList">
                                        <td>
                                            {{data.CardNo}}
                                        </td>
                                        <td>
                                            {{data.EmployeeName}}
                                        </td>                                                                                
                                        <td>
                                            {{data.InTime}}
                                        </td>
                                        <td>
                                            {{data.OutTime}}
                                        </td>
                                        <td>                                            
                                            {{data.Status}}
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3 column">
        <section class="box box-solid">
            <form class="form-horizontal" name="forms.searchAttandenceForm" ng-submit="searchAttendance(searchAt)" novalidate
                  ng-if="!newEntry">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-12">Date</label>
                        <div class="col-sm-12">
                            <input id="date" placeholder="Enter date" type="text"
                                   class="form-control default-datepicker input-sm pull-right"
                                   ng-blur="bindDate('date', 'searchAt')"
                                   ng-model="searchAt.date" required />
                        </div>
                    </div>       
                    <div class="form-group">
                        <label class="col-sm-6" for="absentOnly">Absent Only</label>
                        <div class="col-sm-6">
                            <input id="absentOnly" type="checkbox" class="" ng-model="searchAt.AbsentOnly" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-sm-6">
                            <button type="submit" class="btn btn-primary btn-block btn-sm btn-flat pull-right">
                                <i class="fa fa-search"></i> Search Attendance
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary btn-sm btn-flat btn-block"                                    
                                    ng-click="createAttendance()"
                                    >
                                {{getButtonName()}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


